/*------------------|TAGS|--------------------*/

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #4E4E4E;
  margin: 0;
}

h1 {
  color: white;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 35px;
  font-weight: 200;
  padding: 20px 0 20px 0;
}

p {
  font-size: 32px;
  font-weight: 50;
}

ul li,
ol li {
  font-size: 28px;
  font-weight: 100;
}

hr {
  border: 1px solid #4E4E4E;
  width: 80%;
}

/*------------------|CLASSES|--------------------*/

.header-background {
  background-image: url(/lab-css-recipes-clone/apple-pie/images/apple-pie.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.description-box {
  text-align: center;
  padding: 5% 10% 2% 10%;
}

.info-img {
  width: 40%;
  height: auto;
  align-self: center;
}

.img-div {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.instructions-section {
  padding: 0% 10% 4% 10%;
}


